#termsConditions .bannerContent {
    margin-left: 0 !important;
}

@media(max-width: 768px) {
    #termsConditions #termsContainer {
        margin: 0 !important;
        padding: 5vh 0 20vw 0 !important;
    }

    #termsContainer section {
        margin: 0 !important;
    }

    #termsContainer p {
        padding: 0 !important;
    }

    #termsConditions h2 {
        text-align: center;
    }

    #sectionTitle h2 {
        font-size: 4vw;
        padding: 5vw 0 5vw 0 !important;
    }

    #sectionTitle h1 {
        padding: 5vw 0 0 0 !important;
    }
}